body {
  background-color: gray;
}

.teacher {
  display: flex;
  justify-content: center;
}

.teacher-form {
  margin-top: 25px;
  background: var(--primaryBg);
  width: 650px;
  min-height: 300px;
  font-size: 30px;
  border: 1px solid white;
}
.teacher-form div {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.teacher-form input {
  background-color: var(--secondaryBg);
  color: var(--secondaryText);
  text-align: left;
  width: 60%;
  padding-left: 10px;
}
.teacher-form label {
  width: 40%;
  color: var(--primaryText);
  padding: 10px;
  text-align: right;
}

.teacher-button {
    background-color: var(--submitBg);
    color: var(--primaryText);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
